form{
    width: 300px;
    display: block;
    margin: 0 auto;
}
input, textarea{
    width: 300px;
    display: block;
    margin: 0 auto 10px auto;
}
input{
    height: 30px;
	color: rgb (10, 10, 10);

}
textarea{
    height: 100px;
}
span{
    height: 20px;
    width: 40px;
    font-weight: bold;
}